*,body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

/* Elements */
h1{
  transform: translate(-1%, -65%);
  text-align: center;
  font-size: calc(24px + (24 - 16) * (100vw - 400px) / (800 - 400));
  margin-top: -25%;
  z-index: 12;
}

h2{
  font-size: calc(18px + (24 - 16) * (100vw - 400px) / (800 - 400));
  color: #FF5403;
  margin-bottom: 3%;
}

p{
  font-size: calc(12px + (16 - 12) * (100vw - 400px) / (800 - 400));
  text-align: justify;
}

.head3{
  color: #FF5959;
  font-size: calc(14px + (24 - 14) * (100vw - 400px) / (800 - 400));
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
}

.formhead{
  font-size: calc(14px + (24 - 14) * (100vw - 400px) / (800 - 400));
  font-weight: bolder;
}

/* Sections */
#header{
  margin-top: 0;
  margin-bottom: 5%;
}

#main-section{
  text-align: justify;
  display: inline-block;
  margin-bottom: 5%;
}

#pricing{
  text-align: center;
  padding: 5% 10%;
  margin-bottom: 2%;
}

#final{
  text-align: center;
  padding: 5% 10%;
}

#card-section{
  padding: 5% 12%;
  margin-bottom: 6%;
}

#footer{
  background-color: #F47340;
  padding: 2% 12%;
  text-align: center;
}

#popupForm{
  margin-bottom: 5%;
  padding: 5% 12%;
  display: none;
}

#login{
  display: none;
}

/* Navigator bar */
.container{
  align-items: center;
  width: 100%;
  max-width: 10000px;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}


.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

nav{
  flex: 1;
  text-align: center;
}

li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

a{
  text-decoration: none;
  color: #000;
  font-size: calc(10px + (16 - 10) * (100vw - 400px) / (800 - 400));
}

a:hover{
  color: #FFC900;
  text-decoration: none;
}

/* Images & Button*/
.logo{
  width: 250px;
  cursor: pointer;
  margin: 0;
  margin-top: -3%;
}

.menu-icon{
  width: 50px;
  cursor: pointer;
}

.headersplash{
  position: relative;
  width: 100%;
}

.headimg{
  width: 100%;
}

.main-img{
  width: 60%;
}

.button:hover{
  background-color: #FF5151;
}


/* Contact Us*/
.card {
 position: relative;
 max-width : 300px;
 height : 215px;
 background-color : #fff;
 margin : 30px 10px;
 padding : 20px 15px;
 display : flex;
 flex-direction : column;
 box-shadow : 0 5px 20px rgba(0,0,0,0.5);
 transition : 0.3s ease-in-out;
 border-radius : 15px;
 float: center;
}

.card:hover {
 height : 320px;
}

.card .image {
 position : relative;
 width : 260px;
 height : 260px;
 top : -40%;
 left: 8px;
 box-shadow : 0 5px 20px rgba(0,0,0,0.2);
 z-index : 1;
}

.card .image img {
 max-width : 100%;
 border-radius : 15px;
}

.card .content {
 position : relative;
 top : -140px;
 padding : 10px 15px;
 color : #111;
 text-align : center;
 visibility : hidden;
 opacity : 0;
 transition : 0.3s ease-in-out;
}

.card:hover .content {
  margin-top : 30px;
  visibility : visible;
  opacity : 1;
  transition-delay: 0.2s;
}


.btn{
 background-color: #FFBD35;
 border-radius: 10%;
 font-weight: 500;
}

.link{
  font-size: calc(12px + (16 - 14) * (100vw - 400px) / (800 - 400));
}
/* Cards */
.card-body{
  border-radius: 12%;
}
.card-header{
    padding: 4% 8%;
    background-color: #eee;
}
