*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

.container{
  width: 100%;
  max-width: 10000px;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.logo{
  width: 250px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon{
  width: 50px;
  cursor: pointer;
}

nav{
  flex: 1;
  text-align: center;
}

li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

a:hover{
  color: #ff5ea2;
  text-decoration: none;
}

.main-left{
  float: left;
}

h1{
  position: absolute;
  top: 65%;
  left: 40%;
  right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  margin-left:-8%;
}

.main-right{
  float: right;
}

.headimg{
  width: 500px;
  margin-left: 10%;
}

#main-section{
  text-align: center;
  margin-left: 7%;
}


.left{
  float: left;
  margin-left: 8%;
}

h2{
  color: #FF5403;
  font-size: 50px;
  text-align: center;
  margin-bottom: 3%;
}

.h2{
  color: #F90716;
  font-size: 50px;
  text-align: center;
  margin-bottom: 3%;
}

h3{
  color: #FF5959;
  font-size: 30px;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
}

p{
  font-size: 20px;
}

.right{
  float: center;
}

.main-img{
  width: 250px;
}

#final{
  text-align: center;
  margin-left: 10%;
  margin-right: 5%;
}

.para{
  text-align: center;
}

.orange{
  margin-left: 10%;
}

#footer{
  background-color: #F47340;
  padding: 2% 12%;
  margin-top: 5%;
  text-align: center;
}

@media only screen and (max-width: 768px){

  .logo{
    width: 150px;
    cursor: pointer;
    margin: 30px 0;
  }

  h1{
    position: absolute;
    top: 40%;
    left: 55%;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    margin-left:-8%;
  }

  .headersplash{
    margin-left: -10%;
    width: 450px;
  }

  .headimg{
    margin-left: 27%;
  }

  #final{
    text-align: center;
    margin-top: 15%;
    margin-left: 7%;
    margin-right: 5%;
  }

  #footer{
    background-color: #F47340;
    padding: 2% 12%;
    margin-top: 5%;
    text-align: center;
    width: 120%;
  }
}


#pricing{
  padding: 100px;
  margin-top: -22%;
  text-align: center;
}

.price{
  padding: 3% 2%;
}

.penny{
  color:#FFD371;
  font-size: 40px;
}

.h3-head{
  line-height: 1.5;
  font-size: 3rem;
  color: #000;
}


.containers {
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  flex-warp : warp;
  padding : 30px;
}

.container .card {
  position: relative;
  max-width : 300px;
  height : 215px;
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;

  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 320px;
}


.container .card .image {
  position : relative;
  width : 260px;
  height : 260px;

  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;

  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;

}

.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;

}

.btn{
  background-color: #FFBD35;
}
