*,body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

/* Elements */
h1{
  font-size: calc(24px + (24 - 16) * (100vw - 400px) / (800 - 400));
  z-index: 12;
  margin-top: -25%;
  transform: translate(-1%, -65%);
  text-align: center;
}

h2{
    font-size: calc(18px + (24 - 16) * (100vw - 400px) / (800 - 400));
    margin-bottom: 3%;
    color: #ff5403;
}

h4{
  font-size: 24px;
}

.penny{
    color: #ffcc1d;
}

.h3-head{
  font-size: calc(14px + (24 - 14) * (100vw - 400px) / (800 - 400));
  font-weight: bold;
  margin-bottom: 2%;
  text-align: center;
  color: #ff5959;
}

/* Sections */
#header{
    margin-bottom: 5%;
}

#pricing{
  padding: .5% 10%;
  text-align: center;
}

#footer{
  margin-top: 5%;
  padding: 2% 12%;
  text-align: center;
  background-color: #f47340;
}

/* Navigator bar */
.container{
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 10000px;
  padding-right: 8%;
  padding-left: 8%;
}


.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background-color: #fff;
}

nav{
    flex: 1;
    text-align: center;
}

li{
  display: inline-block;
  margin-right: 30px;
  list-style: none;
}

a{
  font-size: calc(10px + (16 - 10) * (100vw - 400px) / (800 - 400));
  text-decoration: none;
  color: #000;
}

a:hover{
  text-decoration: none;
  color: #ff5ea2;
}

/* Images & Button*/
.logo{
    width: 250px;
    cursor: pointer;
    margin: 0;
    margin-top: -2%;
}

.menu-icon{
    width: 50px;  cursor: pointer;
}

.headersplash{
    position: relative;  width: 100%;
}

.headimg{
    width: 100%;
}

.main-img{
    width: 60%;
}

.sub-img{
    width: 50%;
}

button{
  display: inline-block;
  margin: 4px 2px;
  padding: 20px 32px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: red;
  text-decoration: none;
}

button:hover{
  background-color: #3E7C17;
  text-decoration: none;
}

.buy-now{
  font-size: 25px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.buy-now:hover{
  color: black;
  font-size: 26px;
}


/* Cards */


.card-header{
    padding: 4% 8%;
    background-color: #eee;
}
