*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-width: 0;
}

.logo{
  width: 250px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon{
  width: 50px;
  cursor: pointer;
}

nav{
  flex: 1;
  text-align: center;
}

li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

a:hover{
  color: #ff5ea2;
  text-decoration: none;
}

.main-left{
  float: left;
}

h1{
  position: absolute;
  top: 65%;
  left: 40%;
  right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  margin-left:-8%;
}


h3{
  color: #FF0000;
  font-size: 30px;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
}

p{
  font-size: 20px;
}

.main-right{
  float: right;
}

.headimg{
  width: 500px;
}

#main-section{
  text-align: center;
  margin-left: 7%;
}


.left{
  float: left;
  margin-left: 8%;
}


.carousel {
  width:50%;
  height:auto;
  margin-left: 20%;
}

button{
  background-color: red;
  border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
cursor: pointer;
font-weight: bolder;
}

.main-div{
  margin-top: 8%;
}

.juice{
  margin-left: 5%;
}


#footer{
  background-color: #F47340;
  padding: 2% 12%;
  margin-top: 5%;
  text-align: center;
}

@media only screen and (max-width: 700px){

  .logo{
    width: 150px;
    cursor: pointer;
    margin: 30px 0;
  }

  h1{
    position: absolute;
    top: 35%;
    left: 55%;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    margin-left:-8%;
  }

  .headersplash{
    margin-left: -10%;
    width: 450px;
  }

  .headimg{
    margin-left: 27%;
  }

  #final{
    text-align: center;
    margin-top: 15%;
    margin-left: 7%;
    margin-right: 5%;
  }

  .carousel {
    width:100%;
    height:100%;
    margin-left: 10%;
  }

  button{
    background-color: red;
    border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
  font-weight: bolder;
  }

  .juice{
    width: 120%;
  }

.container{
  min-height: 100px;
}

  #footer{
    background-color: #F47340;
    padding: 2% 12%;
    text-align: center;
    width: 120%;
  }
}
